.banner {
  margin-top: 60px;
}
.herobanner-image:hover {
  background-color: rgba(0, 0, 0, 0.487);
  color:#ffbb01;
  border-radius: 25px;
}
.wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  color:rgb(5, 84, 129);
}
.wrap:before {
  content: "";
  z-index: 10;
  position: absolute;
  height: 200%;
  width: 200%;
  top: -120%;
  left: -120%;
  background: linear-gradient(
    transparent 0%,
    rgba(255, 255, 255, 0.1) 45%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.1) 55%,
    transparent 100%
  );
  transition: all 2s;
  transform: rotate(-45deg);
  animation: shine 10s infinite forwards;
}
@keyframes shine {
  0% {
    top: -120%;
    left: -120%;
  }
  10% {
    left: 100%;
    top: 100%;
  }
  20% {
    left: 100%;
    top: 100%;
  }
  100% {
    left: 100%;
    top: 100%;
  }
}
.underheroText {
  text-wrap: nowrap;
}
.tv{
  margin-left: -50px;
}
.special-links{
  text-decoration: underline;
}