.filter-field{
    width: 72px;
}
.main-filter{
    
    text-align: left;
    margin-left: 20px;
}
.filter-headers{
    font-size: 17px;
}
.filter-label-text{
    font-size: 17px;
}
.big-filter-label-text{
    font-size: 19px;
}
.star-rating-text{
    font-size: 15px;
}
.big-star-rating-text{
    font-size: 17px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}